{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure        {:mvn/version "1.10.2"}
  ring/ring-core             {:mvn/version "1.8.2"}
  http-kit/http-kit          {:mvn/version "2.5.1"}
  mount/mount                {:mvn/version "0.1.16"}
  hiccup/hiccup              {:mvn/version "1.0.5"}
  org.slf4j/slf4j-api        {:mvn/version "1.7.30"}
  org.slf4j/slf4j-simple     {:mvn/version "1.7.30"}
  metosin/jsonista           {:mvn/version "0.3.1"}
  better-cond/better-cond    {:mvn/version "2.1.0"}
  org.clojure/core.incubator {:mvn/version "0.1.4"}

  seancorfield/next.jdbc    {:mvn/version "1.1.613"}
  org.postgresql/postgresql {:mvn/version "42.2.18"}
  com.zaxxer/HikariCP       {:mvn/version "4.0.1"}
  honeysql/honeysql         {:mvn/version "1.0.444"}
  nilenso/honeysql-postgres {:mvn/version "0.2.6"}

  oauth/oauth.two {:mvn/version "0.4.0"}}

 :aliases
 {:dev {:extra-deps {nrepl/nrepl                   {:mvn/version "0.8.3"}
                     cider/cider-nrepl             {:mvn/version "0.25.8"}
                     refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                     clj-commons/pomegranate       {:mvn/version "1.2.0"}}
        :main-opts  ["-i dev/user.clj"
                     "-m nrepl.cmdline -i"
                     "--middleware [\"cider.nrepl/cider-middleware\",\"refactor-nrepl.middleware/wrap-refactor\"]"]}

  :native {:main-opts ["-m clj.native-image pubbler.main"
                       ;; "--language:js"
                       ;; optional native image name override
                       "-H:Name=pubbler"
                       "-H:+ReportExceptionStackTraces"
                       "-H:+RemoveSaturatedTypeFlows"
                       ;; "-H:ResourceConfigurationFiles=resource-config.json"
                       "--initialize-at-build-time"
                       "--report-unsupported-elements-at-runtime"
                       "--no-server"]
           :jvm-opts  ["-Dclojure.compiler.direct-linking=true"
                       "-Dclojure.spec.skip-macros=true"]
           :extra-deps
           {clj.native-image/clj.native-image
            {:git/url "https://github.com/taylorwood/clj.native-image.git"
             :sha     "f3e40672d5c543b80a2019c1f07b2d3fe785962c"}}}

  :ancient {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}}}
